.app_dark_theme {
    --bg-color: #3d3d44;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #489548;
    --secondary-color: #30a730;
    --inverted-primary-color: #5671ad;
    --inverted-secondary-color: #041c65;
}
