.app.dark {
    --bg-color: #3d3d44;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #4c864c;
    --secondary-color: #1bc91bd2;

    --inverted-primary-color: #041c65;
    --inverted-secondary-color: #0449e0;
}
