.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #3d3d44;

    --primary-color: #041c65;
    --secondary-color: #0449e0;

    --inverted-primary-color: #4c864c;
    --inverted-secondary-color: #1bc91bd2;
}
