:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #3d3d44;
    --primary-color: #5671ad;
    --secondary-color: #041c65;
    --inverted-primary-color: #1bc91bd2;
    --inverted-secondary-color: #30a730;
}
